
<h4 class="text-center mt-4">

    GitHub Repo
</h4>
<div class="container mt-4 " style="background-color: #ccc;">
    <div class="row">
        <div class="col-md mt-4">
            
           
            <div class="card" style="width: 18rem;">
                <div>
                    <h4 class="text-center"><span class="text-primary">Repo Name:</span>John D</h4 >
                </div>

               
                <div class="card-body">
                  <p class="card-text">user repo info...</p>
                </div>

               
              </div>        
        </div>
        
        
        
        
    </div>
</div>