

<div class="row">
    <div class="col-md">
        <div class="container mt-4"  *ngFor="let post of posts">
            <div  class="row">
                <div class="col-md">
            
                   
                    <div class="card" style="width: 18rem;">
                        <div>
                            <h1 class="text-center">{{post.login}}</h1>
                        </div>
            
                        <img src={{post.avatar_url}} class="card-img-top" alt="...">
                        <!-- <div class="card-body">
                          <p class="card-text">{{}}</p>
                        </div> -->
        
                        <nav >
                            <ul>
                              <a routerLink="/repo-component" routerLinkActive="active" class="btn btn-success mt-4 ">Repo</a>
                              
                            </ul>
                          </nav>
                          <!-- The routed views render in the <router-outlet>-->
                        
                      </div>        
                      <div class="col-md">

                        <router-outlet></router-outlet>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    
</div>